@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

#headerTitle{
  text-align: center;
  margin: 20px;
  color:rgb(36,36,93)
}

#headerBar{
  text-align: center;
  margin: 20px;
  border-top: 5px solid rgb(142,142,65);
}

#allButtons{
  text-align: center;
  margin: 20px;
}

.categoryButton{
  padding:10px 30 px;
  font-size: 16px;
  background-color: rgb(220,207,190);
  border-radius: 10px;
  margin-left: 10px;
  border: 3px solid rgb(142,142,65);
}

.categoryButton:hover{
  cursor: pointer;
  border: 3px solid rgb(36,36,93);
}

#allDishes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
}

.dish{
  display: flex;
 margin-bottom: 30px;
  
}

.dishInner{
  display: flex;
  justify-content: space-between;
}

.dish img{
  width: 10%;
  margin-right: 20px;
  border-radius: 10px;
  border: 3px solid rgb(142,142,65);
}
.dishContent{
  border-top: 2px dotted black;
  padding-top: 20px;
}
.dishPrice{
  color: rgb(142,142,65);
}
.dishName{
  text-transform: capitalize;
}

#cartButtonContainer{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

#cartButton{
  font-size: 20px;
}

.dishCartButton{
  width: 150px;
  padding: 10px 20px;
  border: 3px solid rgb(142,142,65);
  background-color: rgb(220,207,190);
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

.dishCartButton:hover{
cursor: pointer;
border: 3px solid rgb(36,36,93);
}

#cart{
  display: flex;
  flex-wrap: wrap;
}

.cartDish img{
width: 20%;

}

.cartDish{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

#cartTitle{
  text-align: center;
  margin: 20px;
  color:rgb(36,36,93)
}

.cartDelete{
  background-color: red;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100px;
}

.cartDelete:hover{
  cursor: pointer;
}